<br>
<br>
<br>
<div class="container">
    <div class="row h-70">
        <div class="col-lg-6">
            <a ng-href="/#/addtest"><button class="float-middle btn btn-primary" type="button">Create Test</button></a>
        </div>
        <div class="col-lg-6 float-right">
            <h5>Search</h5>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="myDetails.searchText" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn" type="button" style="background-color:#faa938">Go!</button>
                </span>
            </div>
        </div>   
    </div>
</div>
<br>
<div class="container">
    <div class="row h-50">
        <div class="col-lg-4">
            <div class="card p-30" id="admincard">
                <div class="media">
                    <div class="media-left media media-middle">
                        <span><i class="fa fa-users" style="font-size:50px;color:#4680ff"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2>{{test.noOfUsers}}</h2>
                        <a ng-href="#/allUsers"><p class="m-b-0">Users</p></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card p-30" id="admincard">
                <div class="media">
                    <div class="media-left media media-middle">
                        <span><i class="fa fa-file-text-o" style="font-size:50px;color:#ffb64d"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2>{{test.allTests.length}}</h2>
                        <a ng-href="#"><p class="m-b-0">Tests</p></a>
                    </div>
                </div>
            </div>  
        </div>
        <div class="col-lg-4">
            <div class="card p-30" id="admincard">
                <div class="media">
                    <div class="media-left media media-middle">
                        <span><i class="fa fa-edit" style="font-size:50px;color:#fc6180"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2>{{test.appearedTest.length}}</h2>
                        <a ng-href="#"><p class="m-b-0">Tests Attempted</p></a>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class=" col-md-12">
            <h4>All Tests</h4>
            <!-- <p ng-show='test.allTests.length>0'>Click on the View/Reply button for more details.</p> -->
            <strong ng-show='test.allTests.length===0'>Currently there are no tests to display. Please create a test!!</strong>
            <br>
            <div class="table-responsive" ng-show='test.allTests.length>0'>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                      <th scope="col">Sl No.</th>
                      <th scope="col">Title</th>
                      <th scope="col">Number of Questions</th>
                      <th scope="col">Total Time (in minutes)</th>
                      <th scope="col">Test Details</th>
                      <th scope="col">View Statistics</th>
                  </thead>
                  <tbody>
                      <tr ng-repeat="t in test.allTests|filter:searchText|startFrom:test.currentPage*test.pageSize | limitTo:test.pageSize">
                          <td>{{$index+1}}</td>
                          <td> {{t.title}}</td>
                          <td>{{t.totalQuestions}}</td>
                          <td>{{t.totalTime}}</td>
                          <td>
                              <a ng-href="#/testDetails"><button type="button" class="btn btn-primary" ng-click="test.singleTest(t)" style="min-width:30px;font-size:15px">View Details</button></a>
                          </td>
                          <td>
                              <a ng-href="#/testStats"><button type="button" class="btn btn-success" ng-click="test.singleTest(t)" style="min-width:30px;font-size:15px">Statistics</button></a>
                        </td>
                      </tr>
                  </tbody>
              </table>
          </div>   
        </div>
            <button ng-show='test.allTests.length>0' ng-disabled="test.currentPage == 0" ng-click="test.currentPage=test.currentPage-1">
                    Previous
            </button>
                    <span ng-show='test.allTests.length>0'>{{test.currentPage+1}}/{{test.numberOfPages()}}</span>
            <button ng-show='test.allTests.length>0' ng-disabled="test.currentPage >= test.getData().length/test.pageSize - 1" ng-click="test.currentPage=test.currentPage+1">
                    Next
            </button>
    </div>
    </div>
<br>
<br>
<br>