<br>
<br>

<div class="container">
    <div class="row h-100">
        <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <a ng-href="#/available-tests">
                <button type="button" class="btn btn-md btn-warning">
                    <strong>Take Test</strong></button>
            </a>
        </div>
        <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-if="test.testsTaken.length!=0">
            <a ng-href="#/attempted-tests">
                <button type="button" class="btn btn-md btn-danger float-right">
                    <strong>Attempted Test</strong></button>
            </a>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="row h-100">
        <div class="col-lg-3">
            <div class="card p-30" id="admincard">
                <div class="media">
                    <div class="media-left media media-middle">
                        <span><i class="fa fa-edit" style="font-size:50px;color:#ff7676"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2>{{test.noOfTests}}</h2>
                        <a ng-href=""><p class="m-b-0">Tests Attempted</p></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card p-30" id="admincard">
                <div class="media">
                    <div class="media-left media media-middle">
                        <span><i class="fa fa-arrow-up" style="font-size:50px;color:#4680ff"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2>{{test.max}}</h2>
                        <a ng-href=""><p class="m-b-0">Highest Score</p></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card p-30" id="admincard">
                <div class="media">
                    <div class="media-left media media-middle">
                        <span><i class="fa fa-arrow-down" style="font-size:50px;color:#54e69d"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2>{{test.min}}</h2>
                        <a ng-href=""><p class="m-b-0">Lowest Score</p></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card p-30" id="admincard">
                <div class="media">
                    <div class="media-left media media-middle">
                        <span><i class="fa fa-percent" style="font-size:50px;color:#796AEE"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2>{{test.avg}}</h2>
                        <a ng-href=""><p class="m-b-0">Average Percentage</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container" ng-if="test.testsTaken.length!=0">
    <div class="row h-100">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <div class="card p-30 mx-auto" id="admincard">
                <h6 style="text-align:center"><strong>Score Percentage in each Test</strong></h6>
                <div style="width:90%;height:90%;">
                    <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series"></canvas>
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 float-right">
            <div class="card p-50 mx-auto" id="admincard">
                <h6 style="text-align:center"><strong>Average Performance</strong></h6>
                <div class="chart" performance-pie-chart="Percent"></div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
