<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <center>
                <h4 ng-if="!testStat.userStats">User has not attempted any Test yet !!</h4>
            </center>

            <div ng-if="testStat.userStats" class="card mb-3" id="testcard">
                <div class="card-header bg-info">
                    <h4>Examinee Statistics</h4>
                </div>
                <div class="card-body">
                    <h6 class="card-title">
                        <strong>
                            <span style="color:rgb(180, 19, 73)">Username:
                                <span style="color:rgb(226, 106, 37)">{{testStat.userStats.username}}</span>
                            </span>
                        </strong>
                    </h6>
                    <p class="card-text">
                        <strong>
                            <span style="color:rgb(180, 19, 73)">Number of Tests Attempted:
                                <span style="color:rgb(226, 106, 37)">{{testStat.userStats.noOfTests}}</span>
                            </span>
                        </strong>
                    </p>
                    <p class="card-text">
                        <strong>
                            <span style="color:rgb(180, 19, 73)">Highest Score among all the tests attempted:
                                <span style="color:rgb(226, 106, 37)">{{testStat.userStats.max}}</span>
                            </span>
                        </strong>
                    </p>
                    <p class="card-text">
                        <strong>
                            <span style="color:rgb(180, 19, 73)">Lowest Score among all the tests attempted:
                                <span style="color:rgb(226, 106, 37)">{{testStat.userStats.min}}</span>
                            </span>
                        </strong>
                    </p>
                    <p class="card-text">
                        <strong>
                            <span style="color:rgb(180, 19, 73)">Average Percentage:
                                <span style="color:rgb(226, 106, 37)">{{testStat.userStats.avg}} %</span>
                            </span>
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <center>
        <b>Average Performance</b>
        <div class="chart" performance-pie-chart="Percent"></div>
    
    </center>

    <br>

    <button type="button" class="btn btn-primary" ng-click="testStat.goBack()">Go Back</button>
</div>
<br>
<br>
<br><br>
